filter {
  if [dest_ip] and [src_ip] {
        cidr {
                add_tag => [ "private_destination" ]
                address => [ "%{dest_ip}" ]
                network => [ "169.254.0.0/16", "fe80::/64", "192.168.0.0/16", "172.16.0.0/12", "10.0.0.0/8" ]
        }
        cidr {
                add_tag => [ "private_source" ]
                address => [ "%{src_ip}" ]
                network => [ "169.254.0.0/16", "fe80::/64", "192.168.0.0/16", "172.16.0.0/12", "10.0.0.0/8" ]
        }
        if "private_source"  not in [tags] {
              jdbc_streaming {
        jdbc_driver_library => "/usr/share/XXX/application/lib/mysql-connector-java-5.1.42-bin.jar"
                jdbc_driver_class => "com.mysql.jdbc.Driver"
                jdbc_connection_string => "jdbc:mysql://localhost:3306/XXX"
                jdbc_user => "XXX"
                jdbc_password => "XXX"
                statement => "select malicious from maliciousIP where ip= :ipsrc"
                parameters => { "ipsrc" => "[src_ip]"}
                target => "malicious_IP"
                enable_metric => "false"
                use_cache => "true"
                cache_expiration => "86400"
                cache_size => "100000"
              }
       }
       if "private_destination"  not in [tags] {
           jdbc_streaming {
                jdbc_driver_library => "/usr/share/XXX/application/lib/mysql-connector-java-5.1.42-bin.jar"
                jdbc_driver_class => "com.mysql.jdbc.Driver"
                jdbc_connection_string => "jdbc:mysql://localhost:3306/XXX"
                jdbc_user => "root"
                jdbc_password => "service123"
                statement => "select malicious from maliciousIP where ip= :ipdst"
                parameters => { "ipdst" => "[dest_ip]"}
                target => "malicious_IP"
                enable_metric => "false"
                use_cache => "true"
                cache_expiration => "86400"
                cache_size => "100000"
           }
       }
       mutate {
                copy => { "[malicious_IP][0][malicious]" => "malicious"}
                remove_field => ["malicious_IP"]
                remove_tag => ["private_destination"]
                remove_tag => ["private_source"]
       }
  }
}
